.container {
    display: flex;
    border-width:1px;
    border-color: red;
}
.horizontal-div {
    flex:1;
}
.vertical-div {
    flex: 1;
    aspect-ratio: 16/8;
}
#button-holder{
    display: flex;
    justify-content: center;
}
button {
    display: flex;
    justify-content: center;
    font-weight: 800;
}